body{
    background-color: black;
    color: white;
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;    
}
.logo-netflix{
    height: 150px;
    width: 300px;
}

.div-logo{
    width: 100%;
    display: flex;
    justify-content: center;
}

.title{
    font-size: 30px;    
}

.div-title{
    width: 100%;
    display: flex;
    justify-content: center;
}

.div-person{
    height: 200px;
    width: 200px;
    background-color: white;
    margin: 10px;
}
.img-person{
    height: 100%;
    width: 100%;
}

.div-square{
    display: flex;
    justify-content: center;
    
}